//--------------font imports------------------
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
}

//-----------global fonts---------------
.title {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(
    180deg,
    #d0bde6,
    /* $mix-light-100 */ #ae8fd8,
    /* $primary-500 */ #673ab7 /* $primary-100 */
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.font1 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  // font-weight: 500;
  font-style: normal;
}

.font2 {
  font-family: "Lato", sans-serif;
  // font-weight: 400;
  font-style: normal;
}

//--------global components styles ------------
* {
  /* For Webkit browsers (Chrome, Edge, Safari) */
  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15); /* Light grey/blackish */
    border-radius: 10px;
  }
}

//------------------antd globals-----------------

.ant-card {
  .ant-card-body {
    height: 100%;
    width: 100%;        
  }
}

.ant-drawer{
  .ant-drawer-content-wrapper{    
    max-width: 300px !important;
    .ant-drawer-content{
      .ant-drawer-header{
        padding: 0rem 0.6rem 0.4rem;
      }
      .ant-drawer-body{
        padding: 0 0.4rem;
      }
    }
  }
  .ant-drawer-mask{
      background-color: rgba(0, 0, 0, 0) !important;
  }        
}

.ant-divider{
  margin: 1.3rem 0;
  color: #d0bde6 !important;
  .ant-divider-inner-text{
    font-size: 1rem;
  }
}