@use "../../../styles/theme/appTheme.scss";

.adminPage {
  // height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;  
  margin-bottom: 2.5rem;
  .title {
    margin-top: 1rem;
    text-align: center;
    color: appTheme.$mix-dark-300;
  }
  .description {
    text-align: center;
    color: appTheme.$mix-dark-100;
  }
  .emptyImage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    .image {
      width: 80%;
      height: auto;
    }
    .imageText {
      font-size: 1.2rem;
      color: appTheme.$mix-dark-600;
    }
  }
  .reviewCard {
    margin: 0.8rem 0.4rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    .cardtitle {
      text-align: center;
      padding-bottom: 0.4rem;
      margin-bottom: 0.4rem;
      border-bottom: 1px dashed #d0bde6;
      color: appTheme.$mix-dark-300;
    }
    .carddescription {
      text-align: justify;
      margin-bottom: 1rem;
      color: appTheme.$mix-dark-100;
      font-weight: 600;
    }
    .imageContainer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .reviewImage {
        width: 35%;
        height: auto;
      }
    }
    .externalLink {
      width: 100%;
      display: inline-block;
      text-align: center;
      margin-top: 8px;
      color: appTheme.$primary-400;
      text-decoration: none;
      font-weight: 500;
      transition: color 0.2s ease;
      &:hover{
        text-decoration: underline;
      }
    }
    .footerContainer{
      display: flex;
      justify-content: space-between;
    }
  }
}

// Two-column layout: Small tablets and up (≥ 433px)
@container (min-width: 433px) and (max-width: 879px) {
  // styles for 2-column layout
  .adminPage {
    margin: auto;
    max-width: 70%;
  }
}

// Desktop layout: (≥ 880px)
@container (min-width: 880px) {
  // styles for wider screens
  .adminPage {
    margin: auto;
    max-width: 65%;
  }
}
