@use "../../../styles//theme/appTheme.scss";

.carouselComp {
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  .innerComp {
    width: 100%;
    height: 90%;
    margin: auto;
    .customCarousel {
      height: 100%;
      width: 100%;    
      span{
        letter-spacing: 0.08rem;
      }       
    }
  }
}
.addHighlightModal{    
    .container{
        padding: 1rem 0.5rem;
        .inputCont{
            margin-top: 0.3rem;
            margin-bottom: 1rem;
        }
        .btnContainer{
            display: flex;
            justify-content: flex-end;
            gap: 1rem;
            button{
                font-weight: 600;
                padding-left: 2rem !important;
                padding-right: 2rem !important;
            }
        }
    }
   
}

// Two-column layout: Small tablets and up (≥ 433px)
@container (min-width: 433px) and (max-width: 879px) {
  // styles for 2-column layout
  .carouselComp {
    .innerComp {
        width: 90%;
    }
  }
}

// Desktop layout: (≥ 880px)
@container (min-width: 880px) {
  // styles for wider screens
  .carouselComp {
    .innerComp {
        width: 65%;
    }
  }
}
